body {
    font-family: Arial, sans-serif;
    background-color: #fff0f5;
    text-align: center;
}
    ul{
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 0;
    }
    li {
    margin: 5px 0;
}
h1 {
    color: #ff1493;
}