body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
}
    ul{
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 0;
    }
    li {
    margin: 10px 0;
}
h1 {
    display:outline-block;
    background-color: black;
    color: white;
    font-size: 60px;
}
h1
  { margin: 0;
    text-align: center;
    padding: px;
}
p { margin: 0;
    right: 5px;
}
    