body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
}
    ul{
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 0;
    }
    li {
    margin: 10px 0;
}
h1 {
    color: #000000;
}