body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
}
    ul{
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 0;
    }
    li {
    margin: 10px 0;
}
h1 {
    display:inline-block;
    background-color: black;
    color: white;
    font-size: 30px;
    width:100%;
}